{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Личный кабинет покупателя</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Мой профиль</h5>
                    <a href="{% url 'customer_profile' %}" class="btn btn-primary">Редактировать</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Мои заказы</h5>
                    <a href="{% url 'order_history' %}" class="btn btn-primary">Просмотреть</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Корзина</h5>
                    <a href="{% url 'cart_view' %}" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}