{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Панель управления менеджера</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Управление товарами</h5>
                    <a href="#" class="btn btn-primary">Добавить товар</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Заказы</h5>
                    <a href="#" class="btn btn-primary">Просмотреть заказы</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Отчеты</h5>
                    <a href="#" class="btn btn-primary">Сформировать</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}