{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Панель управления менеджера</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Управление товарами</h5>
                    <a href="{% url 'create_product' %}" class="btn btn-primary">Добавить товар</a>
                    <a href="#" class="btn btn-primary">Удалить товар</a>
                </div>
            </div>
        </div>
<!--        <div class="col-md-4">-->
<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Управление категориями</h5>-->
<!--                    <a href="#" class="btn btn-primary">Создать категорию</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
{% endblock %}